// CONTENT
// This file contains all layout settings.
// Layout is as anything that affects horizontal movement.


// layout-name, min/max pair & ie fallback, grid-settings
// layout-name -> name used to call layout
// min/max pain -> sets media query min/max -> min required, max not required
// grid settings -> <columns>, <column-width>, <gutter-width>, <grid-padding>
$layouts: (
	small: (
		break: 0em 37.5em,
		grid: (
			columns: 5,
			gutters: 0.2
		)
	),
	medium: (
		break: 37.5em 62em,
		grid: (
			columns: 9,
			gutters: 0.2
		)
	),
	large: (
		break: 62em,
		grid: (
			columns: 18,
			gutters: 0.2
		),
		fallback: ".lt-ie9"
	)
);
@mixin bp($break-name) {
	$layout: map-get($layouts, $break-name);
	@if map-get($layout, "fallback") == null {
		@include susy-breakpoint(map-get($layout, "break"), map-get($layout, "grid")) {
			@content;
		}
	} @else {
		@include susy-breakpoint(map-get($layout, "break"), map-get($layout, "grid"), map-get($layout, "fallback")) {
			@content;
		}
	}
}
@mixin row() {
	clear: both;
	display: block;
	float: none;
	@include group();
}